body {
  /* background-color: rgb(85, 132, 148); */
  /* background-image: url("mart.jpg"); */
  background-color: rgb(146, 155, 155);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  color: rgb(0, 0, 0);
}

h1 {
  color: rgb(54, 41, 41);
}

p {
  color: rgb(54, 41, 41);
}

.button {
  background-color: #ffffff; /* Green */
  border: 2px solid rgb(54, 41, 41);
  color: rgb(54, 41, 41);

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 16px;
  transition-duration: 0.4s;
  position: relative;
  /* left: 450px; */
  margin-top: 20px;
  margin-left: 20px;
}

.output {
  height: 20px;
  width: 30px;
  background-color: #ffffff; /* Green */
  border: 2px solid rgb(54, 41, 41);
  color: rgb(54, 41, 41);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 16px;
  transition-duration: 0.4s;
  position: relative;
  /* left: 600px; */
  margin-top: 20px;
  margin-left: 20px;
}

.reset {
  height: 20px;
  width: 30px;
  background-color: #ffffff; /* Green */
  border: 2px solid #000000;
  color: rgb(0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 16px;
  transition-duration: 0.4s;
  position: relative;
  left: 600px;
  right: 200px;
  bottom: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

input[type="text"] {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: rgb(54, 41, 41);
}
form {
  color: rgb(54, 41, 41);
}

.footer-img {
  position: absolute;
  height: 40%;
  left: 0;
  bottom: 0;
}
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.msmemes {
  float: left;
  height: 100%;
}
.pics {
  float: left;
  height: 100%;
}
.allButtons {
  display: flex;
  justify-content: space-between;
  height: 50%;
}
.motQuotes {
  width: 33%;
}
.mikeScott {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}
.dropButton {
  display: flex;
  justify-content: flex-end;
}
.dropClick {
  display: flex;
  justify-content: flex-end;
}
.aboveNav {
  display: flex;
  justify-content: center;
}
.footer {
  display: flex;
  justify-content: center;
}
