.body {
    background: url("images/koi-mil-gaya.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align:center;
}

.calculator {
    margin-top: 10px;
    display: inline-block;
    background: beige;
    padding: 40px;
}