/* .body {
    background: url("images/koi-mil-gaya.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align:center;
}

.calculator {
    margin-top: 10px;
    display: inline-block;
    background: beige;
    padding: 40px;
}

.random-image {
    margin-top: 10px;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F8F8F8;
}

.navbar-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar-list-item {
    color: black;
    cursor: pointer;
    border-right:0px solid #bbb;
    display: inline-block;
}

.navbar-list-item:hover {
    background: black;
    color: white;
}

.navbar-link {
    text-decoration: none;
    color: inherit;
    padding: 10px 30px;
    display: inline-block;
/* Previously I did not have inline block inside link and had the padding in list
 Why did I change it?*/

/* }
.active-link {
    background-color :#4CAF50;
    color: white;
} */
.button {
    background-color:  #4CAF50; /* Green */
    border: 2px solid #ffffff;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 16px;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }